@@model SchoolManagmentSystem.DAL.Models.Subject

@{
    ViewData["Title"] = "Delete Subject";
}

<h2>Are you sure you want to delete this subject?</h2>

<div>
    <h4>@Model.Name</h4>
    <dl class="row">
        <dt class="col-sm-3">Total Degree:</dt>
        <dd class="col-sm-9">@Model.TotalDegree</dd>

        <dt class="col-sm-3">Min Degree:</dt>
        <dd class="col-sm-9">@Model.MinDegree</dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
