@model List<StudentVM>
<h1 class=" p-5 text-center box-shadow">Our Course</h1>
<input type="text" id="searchBox" placeholder="Enter customer name or city" />
<button id="searchButton">Search</button>
<div id="searchResults">
    <partial name="_StudentTable" model="@Model"></partial>

</div>
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        
    </script>
}
<div class="p-5 d-flex justify-content-center align-items-center">
    
    <a asp-controller="Student" asp-action="Add" class="btn btn-dark p-3 fst-italic fs-1">Add New Student</a>
</div>
