@model List<StudentVM>

<h1 class=" p-5 text-center box-shadow">All Students </h1>
<script src="~/lib/jquery/dist/jquery.js"></script>


<div class="mb-3 mt-2 d-flex justify-content-lg-between ">
            <input type="text" class="form-control w-25" id="searchinput" placeholder="search by student name "/>
            <a asp-controller="Student" asp-action="Add" class="btn btn-dark w-25">Add New Student</a>

        </div>
      

<table class="table table-bordered table-hover w-100 m-auto mb-5 ">

    <thead>

    <td> Name</td>
    <td>Email</td>
    <td>Phone</td>
    <td>Address</td>
    <td>Date Of Birth</td>
    <td>Age</td>
    <td>Gender</td>
    <td>Date of Enrollment</td>
    
    <td>Class</td>
    <td>Edit</td>
   <td>Delete</td>
    </thead>

    <tbody id="result">
        <partial name="_StudentTable" model="@Model"></partial>
    </tbody>

</table>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

       
        <script>
            $(document).ready(function () {  // Ensure DOM is fully loaded
                $("#searchinput").keyup(function () {
                    var searchValue = $(this).val().trim();

                    if (searchValue.length > 0) {
                        $.ajax({
                            url: "/Student/Index",
                            type: "GET",
                            data: { searchitem: searchValue },
                            success: function (data) {
                                $("#result").html(data);
                            },
                            error: function () {
                                $("#result").html("<tr><td colspan='10' class='text-danger text-center'>Cannot get data</td></tr>");
                            }
                        });
                    } else {
                        location.reload();
                    }
                });
            });
        </script>
    }
}